@font-face {
  /*эт-правила или CSS-директивы*/
  font-family: "Rubik";
  /*объявление шрифта*/
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /*для шрифта не задаётся период блокировки совсем и задаётся бесконечный период подмены: сразу будет показан безопасный шрифт, если он определён.
  другие значения: auto, block, fallback, optional*/
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

/* НУЖНО:
1. удалить лишние правила (посмотреть по DevTools) - готово
2. НЕ использовать списки (перечисление селекторов через запятую) - готово
3. кнопкам добавить cursor: pointer  - готово
4. Если кнопки или другие элементы отличаются только одним свойством (например, фоном), то можно описать общие свойства в одном правиле
а для отличающего свойства придумать отдельный класс и записать только его отдельно - это сократит количество кода !!!
*/

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-container {
  position: relative;
}

.button {
  display: inline-block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 225, 127, 1);
  z-index: -1;
}

.button:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.button:focus::after {
  content: "";
  position: absolute; /* Позиционируем относительно родительского элемента */
  top: center; /* Положение относительно нижней границы родительского элемента */
  left: 0; /* Положение относительно левой границы родительского элемента */
  width: 100%; /* Ширина полоски равна ширине родительского элемента */
  height: 8px; /* Толщина полоски */
  background-color: rgba(255, 225, 127, 1); /* Цвет полоски */
  z-index: -1;
}

.button:hover {
  background-color: rgba(255, 225, 127, 1);
  outline: none;
}

.button:active {
  background-color: rgba(255, 204, 51, 1);
  outline: none;
}

/*шапка*/
.main-header {
  width: 1160px;
  margin: 0 auto;
  background-color: rgba(255, 225, 127, 1);
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  background-color: rgba(255, 225, 127, 1);
}

.logo {
  display: block;
  position: relative;
  top: -22px;
  left: 56px;
  width: 145px;
  height: 38px;
  margin-bottom: 30px;
  padding: 2px;
  outline: none;
}

.logo:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.logo-header:focus {
  opacity: 1;
}

.logo:hover {
  opacity: 0.7;
  outline: none;
}

.logo:active {
  opacity: 0.3;
  outline: none;
}

.search-user-navigation {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
  /* для этого блока, вероятно, нужно будет добавить justify-content, чтобы "корзина" не выпадала из контейнера.
  но это нужно будет сделать тогда, когда будет стилизована форма поиска. */
}

.search-icon {
  position: absolute;
  fill: rgba(0, 0, 0, 1);
}

.search-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  /*цвет всё равно не применяется именно к инпуту. он не чёрный. */
}

.search-button {
  margin-right: 26px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

/*войти, выйти*/
.navigation-login-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-login-item {
  margin-right: 28px;
}

.navigation-login-link {
  display: block;
  position: relative;
  padding: 2px 0 2px 26px;
  color: inherit;
  text-decoration: none;
}

.navigation-logout-link { /* выйти */
  display: block;
  position: relative;
  margin-right: 25px;
  padding: 2px 0;
  color: inherit;
  text-decoration: none;
}

.navigation-login-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}
/* состояния для войти и выйти, Коля Петухов */
.navigation-login-link:focus,
.navigation-logout-link:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.navigation-login-link:hover .navigation-login-icon,
.navigation-login-link:hover,
.navigation-logout-link:hover {
  color: rgba(0, 0, 0, 0.7);
  fill: rgba(0, 0, 0, 0.7);
  outline: none;
}

.navigation-login-link:active .navigation-login-icon,
.navigation-login-link:active,
.navigation-logout-link:active {
  color: rgba(0, 0, 0, 0.4);
  fill: rgba(0, 0, 0, 0.4);
  outline: none;
}

/* сравнить, корзина */
.navigation-user-list {
  max-width: 250px; /*по факту ширина 240px. В лайве говорили про "добавить запас", но там всё будто бы впритык, поэтому пока добавила столько.*/
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  text-align: right;
  list-style-type: none;
}

.navigation-user-item {
  margin-right: 36px;
}

/* сравнить */
.navigation-user-link {
  display: block;
  position: relative;
  padding: 2px 2px 2px 26px;
  color: inherit;
  text-decoration: none;
}

.navigation-user-icon {
  position: absolute;
  top: 10px;
  left: 2px;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

/* корзина */
.navigation-user-link.cart-link {
  padding-right: 14px;
  padding-left: 44px;
}

.navigation-user-icon.cart-icon {
  top: 9px;
  left: 18px;
}

.navigation-user-quantity {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  z-index: 1;
}

/* состояния для сравнить и корзина */
.navigation-user-link:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.navigation-user-link:hover .navigation-user-icon,
.navigation-user-link:hover .navigation-user-quantity,
.navigation-user-link:hover {
  color: rgba(0, 0, 0, 0.7);
  fill: rgba(0, 0, 0, 0.7);
  outline: none;
}

.navigation-user-link:active .navigation-user-icon,
.navigation-user-link:active .navigation-user-quantity,
.navigation-user-link:active {
  color: rgba(0, 0, 0, 0.4);
  fill: rgba(0, 0, 0, 0.4);
  outline: none;
}

/* модальное окно корзины */
.cart-item-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
/*возможно, правила выше и ниже можно задать для всего блока раскрытой корзины. посмотрим. */
.cart-quantity {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.cart-amount {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.cart-open-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* каталог товаров - навигация */
.navigation-container {
  width: 1040px;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.navigation-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-catalog-open {
  position: relative;
  padding: 18px 69px 18px 2px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation-catalog-open-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  margin: auto;
  opacity: 0.3;
}

.navigation-catalog-open:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.navigation-catalog-open:focus .navigation-catalog-open-icon {
  opacity: 0.3;
}

.navigation-catalog-open:hover {
  outline: none;
}

.navigation-catalog-open:hover .navigation-catalog-open-icon {
  opacity: 1;
}

.navigation-catalog-open:active {
  outline: none;
}

.navigation-catalog-open:active .navigation-catalog-open-icon {
  opacity: 1;
}

.navigation-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

/* доставка - гарантия - контакты (навигация) */
.navigation-info-list {
  min-width: 472px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-info-link {
  display: block;
  margin: 12px;
  padding: 2px 0;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: right;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.navigation-info-link:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
}

.navigation-info-link:hover {
  color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.navigation-info-link:active {
  color: rgba(0, 0, 0, 0.4);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

/*Раздел популярных товаров*/
.popular {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
}

.slider-button {
  border: none;
  cursor: pointer;
}

.slider-button-prev {
  fill: rgba(0, 0, 0, 1);
}

.popular-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular-image {
  margin: 0;
  padding: 0;
  display: block;
}

.popular-slogan {
  max-width: 560px;
  margin: 0;
  margin-top: 121px;
  margin-bottom: 29px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.popular-description {
  max-width: 560px;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  color: #444444;
}

.popular-link {
  margin-bottom: 49px;
}

.popular-table {
  min-width: 156px;
  border-spacing: 20px 12px;
}

.popular-value {
  font-size: 36px;
  line-height: 30px;
}

.popular-parameter {
  font-size: 16px;
  color: #444444;
}

/*категории товаров*/
.categories {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.categories-link {
  max-width: 160px;
  min-height: 60px;
  padding-top: 192px;
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  letter-spacing: -0.02em;
}

/*сервис*/
.service {
  margin-bottom: 70px;
  min-height: 391px;
  position: relative;
}

.service::after {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  width: 100%;
  height: 289px;
  background-color: rgba(240, 240, 240, 1);
  z-index: -2;
}

.service-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  background-image: url("../images/service/courier.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.service-buttons-container {
  width: 287px;
  margin-right: 116px;
  padding: 64px 0 65px 0;
  display: grid;
  grid-row-gap: 35px;
  border-right: 7px solid rgba(0, 0, 0, 1);
}

/* .service-button-container {
  position: relative;
  text-align: center;
}

.service-button { пока оставляю этот момент, непонятно, как сделать.
  display: block;
  padding: 10px 120px 10px 10px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-size: 18px;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
}

.service-button::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 0;
  width: 160px;
  height: 8px;
  background-color: rgba(255, 225, 127, 1);
  z-index: -1;
}

.service-button-container:hover {
  background: rgba(0, 0, 0, 1);
}

.service-button:hover {
  color: rgba(255, 225, 127, 0.5);
}

.service-button-container:focus {
  background-color: rgba(0, 0, 0, 1);
}

.service-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(175, 79, 255, 1);

  color: rgba(255, 225, 127, 1);
}

.service-button-container:active {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: none;
}

.service-button:active {
  color: rgba(255, 225, 127, 0.3);
} */

/* .service-button-container-current {
  margin-right: 0;
  width: 280px;
  background-color: rgba(0, 0, 0, 1);
}

.service-button-current {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 225, 127, 1)
;
  height: 40px;
} */

.service-description-container {
  width: 873px;
  margin: 0 auto;
  padding: 78px 63px 78px 116px; /*думаю, эта строка окажется лишней при добавлении svg*/
}

.service-name {
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.service-description {
  max-width: 475px;
  margin: 0;
  padding: 0;
  color: #444444;
}

/* ДОСТАВИМ РЕДКИЙ ТОВАР ПОД ЗАКАЗ */
.rare-delivery-link {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  justify-content: space-between;
  background-color: rgba(240, 240, 240, 1);
  text-decoration: none;
  color: inherit;
  border: none;
}

.rare-truck {
  background-color: rgba(255, 225, 127, 1);
  width: 125px;
  height: 100px;
  background-image: url("../images/rare-delivery/truck.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rare-delivery-title {
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rare-info {
  position: relative;
  width: 125px;
  height: 100px;
}

/* круг за иконкой инфо */
.rare-info::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.rare-info-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0.4;
}

.rare-delivery-link:focus {
  background-color: rgba(240, 240, 240, 0.9);
  outline: 2px solid rgba(175, 79, 255, 1);
  outline-offset: 2px;
}

.rare-delivery-link:hover {
  background-color: rgba(240, 240, 240, 1);
  outline: none;
}

.rare-delivery-link:hover .rare-truck {
  background-color: rgba(255, 199, 0, 1);
}

.rare-delivery-link:hover .rare-info-icon {
  opacity: 1;
}

.rare-delivery-link:active {
  opacity: 0.3;
  outline: none;
}

/* форма */
.rare-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.rare-form {
  display: grid;
  grid-template-columns: 360px 180px 180px;
  gap: 40px;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.rare-form-email {
  grid-column: 2 / 4;
}

.rare-form-product {
  grid-column: 1 / 3;
}

.rare-form-quantity {
  grid-column: 3 / 4;
}

.rare-data {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.button-rare-container {
  position: relative;
  width: 200px;
  min-height: 40px;
  text-align: center;
}

.rare-button {
  width: 200px;
  grid-column: 1 / -1;
  justify-self: start;
}

.rare-button::after {
  top: 15px;
  left: 0;
}

/*о нас*/
.about-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  color: #444444;
}

.about-delivery-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 40px; /*возможно, нужно лучше поставить марджин-боттом 40 у черты над "О нас"*/
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: rgba(0, 0, 0, 1);
}

.about-delivery-description {
  max-width: 497px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-delivery-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.about-delivery-item {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-left: 26px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.02em;
}

.about-delivery-item:last-child {
  margin-bottom: 0;
}

.button-more-container {
  position: relative;
}

.button-more {
  min-width: 258px; /*возможно, лучше будет для баттон удказать одну минимальную ширину, и не указывать её для каждой кнопки отдельно*/
  padding: 10px 6px;
  text-align: center;
}

.about-contacts-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 40px;  /*возможно, нужно лучше поставить марджин-боттом 40 у черты над "Контакты"*/
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: rgba(0, 0, 0, 1);
}

.about-contacts-description {
  max-width: 510px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-contacts-connection {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.about-contacts-address {
  margin-bottom: 30px;
}

.about-contacts-address-text {
  margin: 0;
  color: inherit;
  font-style: normal;
}

.about-contacts-number {
  text-decoration: underline;
  color: inherit;
  font-style: normal;
}

.about-contacts-schedule {
  margin: 0;
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 24px;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-schedule-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-connection {
  min-width: 258px; /*возможно, лучше будет для баттон удказать одну минимальную ширину, и не указывать её для каждой кнопки отдельно*/
  padding: 10px 6px;
  text-align: center;
}

/*блок подписки*/
.subscription {
  background-color: rgba(240, 240, 240, 1);
}

.subscription-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subscription-title {
  margin-top: 0;
  margin-right: 252px;
  margin-bottom: 144px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  margin: 0;
  padding: 0;
  color: #444444;
}

.subscription-input {
  font-family: inherit;
  color: #444444;
}

.subscription-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.subscription-advantage {
  margin: 0;
  padding: 14px 0 14px 28px;
  color: #444444;
  background-image: url("../images/for-free.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

/*футер*/
.page-footer {
  padding-top: 62px;
  padding-bottom: 61px;
  background-color: rgba(0, 0, 0, 1); /*исходный: 444444*/
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  display: block;
}

.footer-contact-address-text {
  color: inherit;
  font-style: normal;
}

.footer-navigation {
  padding-top: 75px;
}

.footer-service-list {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-service-item {
  margin-right: 35px;
}

.footer-service-item:last-child {
  margin-right: 0;
}

.footer-service-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444444;
}

.footer-contact {
  padding-top: 78px;
}

.footer-contact-number {
  margin-bottom: 63px;
}

.footer-contact-number-link {
  text-decoration: underline;
  color: inherit;
  font-style: normal;
}

.logo-htmlacademy {
  padding-left: 60px;
  display: block;
}

/*внутренняя страница: моноподы для селфи*/
.inner-main {
  padding-top: 35px;
}

.inner-main-navigation {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 6px;
  padding-right: 16px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.inner-main-container {
  background-color: rgba(240, 240, 240, 1);
}

/*фильтр*/
.catalog-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.control-input { /*эти стили, если их прописывать для инпут, не вступают в силу... пока пропущу формы фильтров*/
  font-size: 16px;
  line-height: 19px;
}

.right-column {
  flex-grow: 1;
}

.select {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.select-title {
  margin: 0;
  padding: 5px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-buttons {
  display: flex;
}

.button-up {
  width: 30px;
  height: 30px;
}

.button-down {
  width: 30px;
  height: 30px;
}

/*карточки товаров*/
.product {
  padding: 70px 40px;
  background-color: #ffffff;
}

.product-cards {
  margin-bottom: 44px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  list-style-type: none;
}

.product-card-image {
  display: block;
  margin-bottom: 32px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.product-card-title-link {
  text-decoration: none;
}

.product-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  font-weight: normal;
}

/*пагинация*/
.pagination-show-more {
  width: 760px;
  margin-bottom: 44px;
  padding: 18px 39px;
  border: 3px solid #e5e5e5;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ffffff;
}

.pagination {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  padding: 15px 0;
  display: flex;
  list-style-type: none;
}

.pagination-button {
  padding: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px; /*именно так, а не паддингами, т.к. у "15" паддинги слева и справа будут меньше*/
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}
