@font-face {
  /*эт-правила или CSS-директивы*/
  font-family: "Rubik";
  /*объявление шрифта*/
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /*для шрифта не задаётся период блокировки совсем и задаётся бесконечный период подмены: сразу будет показан безопасный шрифт, если он определён.
  другие значения: auto, block, fallback, optional*/
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

/* НУЖНО:
1. удалить лишние правила (посмотреть по DevTools) - готово
2. НЕ использовать списки (перечисление селекторов через запятую) - готово
3. кнопкам добавить cursor: pointer  - готово
4. Если кнопки или другие элементы отличаются только одним свойством (например, фоном), то можно описать общие свойства в одном правиле
а для отличающего свойства придумать отдельный класс и записать только его отдельно - это сократит количество кода !!!
*/

html {
  /*для стики футера*/
  height: 100%;
}

body {
  /*список css-правил*/
  margin: 0;
  /*для стики футера, свойство ненаследуемое, поэтому обнуляется только у body*/
  display: flex;
  /*для стики футера*/
  flex-direction: column;
  /*для стики футера*/
  min-height: 100%;
  /*для стики футера: равен размеру тега html, который равен размеру окна браузера*/
  font-family: "Rubik", sans-serif;
  /*если долго не загружается декоративный шрифт, то браузер покажет любой системный шрифт без засечек*/
  font-size: 18px;
  /*базовые размеры текста для всего проекта*/
  line-height: 30px;
  /*базовая величина пространства между строками в тексте для всего проекта*/
  font-weight: 400;
  /*для надёжности, т.к. пользователь может добавить плагин на браузер или поменять шрифт в браузере*/
  color: #000000;
  background-color: #ffffff;
  padding-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

/*шапка*/
.main-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.inner-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.logo-header {
  margin-top: -36px; /*не поднимается выше -20px походу, почему??? должно быть -36 по идее*/
  margin-left: 60px; /*margin-left по идее не задаётся, лишь за редким исключением. есть ощущение, что лого нужно вынести из хэдера в body...*/
}

.search-user-navigation {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  /* 0 убирает вертикальные отступы, auto выравнивает по центру */
}

.search-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  /*цвет всё равно не применяется именно к инпуту. он не чёрный. */
}

.search-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  /*возможно, оно центр и так, по умолчанию?*/
}

.navigation-authorization-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 240px;
  /*по факту Коля Путухов и Выйти - 231px. В лайве говорили про "добавить запас", но там всё будто бы впритык, поэтому пока добавила столько.*/
  list-style-type: none;
}

.navigation-authorization-link {
  /*войти, выйти*/
  color: inherit;
  text-decoration: none;
  display: block;
  height: 30px;
  padding-left: 27px;
  padding-right: 2px;
  margin-left: 26px; /*тут нужно будет разобраться с Колей Петуховым и выходом, т.к. у кнопки выйти не должно быть паддинга слева, только марджин*/
}

.navigation-user-list {
  max-width: 250px;
  /*по факту ширина 241px. В лайве говорили про "добавить запас", но там всё будто бы впритык, поэтому пока добавила столько.*/
  margin-left: auto;
  /*пока не уверена, что это тут будет нужно. будет понятно, когда приступлю к микросеткам*/
}

.navigation-user-link {
  /*сравнить, корзина*/
  color: inherit;
  text-decoration: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.navigation-catalog-open {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.cart-item-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/*возможно, правила выше и ниже можно задать для всего блока раскрытой корзины. посмотрим. */
.cart-quantity {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.cart-amount {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.cart-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.navigation-info-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.navigation-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.main-container {
  /*для стики футера*/
  flex-grow: 1;
}

/*Раздел популярных товаров*/
.popular {
  /*не думаю, что это нужно здесь, т.к. это, всё же, слайдер! пока скрыла часть html.*/
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.popular-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.popular-description {
  color: #444444;
}

.popular-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.popular-value {
  font-size: 36px;
  line-height: 30px;
}

.popular-parameter {
  font-size: 16px;
  color: #444444;
}

/*категории товаров*/

.categories {
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  letter-spacing: -0.02em;
}

/*сервис*/
.service {
  background-color: #f0f0f0;
}

.service-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.service-button-container {
  width: 287px;
}

.service-description-container {
  width: 873px;
  margin: 0 auto;
  padding: 73px 63px 73px 116px;
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.service-description {
  color: #444444;
}

/*Доставка на заказ*/
.rare-container {
  background-color: #f0f0f0;
  text-align: center;
  width: 1160px;
  margin: 0 auto;
}

.rare-delivery {
  /*тут ещё должен быть, возможно, letter-spacing, но я пока не понимаю, как задать корректное значение*/
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.rare-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.rare-data {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/*о нас*/
.about-container {
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.about-delivery-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-delivery-link {
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-contacts-connection {
  font-weight: 700;
  font-size: 24px;
}

.about-contacts-schedule {
  font-weight: 700;
  font-size: 24px;
}

.about-contacts-address-text {
  color: inherit;
  font-style: normal;
}

.about-contacts-number {
  text-decoration: underline;
  color: inherit;
  font-style: normal;
}

/*блок подписки.*/
.subscription {
  background-color: #f0f0f0;
}

.subscription-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.subscription-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  color: #444444;
}

.subscription-advantage {
  color: #444444;
}

.subscription-input {
  font-family: inherit;
  color: #444444;
}

.subscription-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*футер*/
.page-footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.footer-contact-address-text {
  color: inherit;
  font-style: normal;
}

.footer-social {
  flex-grow: 1;
}

.footer-service-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-contact-number-link {
  text-decoration: underline;
  color: inherit;
  font-style: normal;
}

/*внутренняя страница: моноподы для селфи*/
.inner-main-navigation {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-list {
  /*это не относится к крупной сетке, пока оставляю так*/
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.inner-main-container {
  background-color: #f0f0f0;
}

/*фильтр*/
.catalog-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

.catalog-filter-group-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.control-input {
  /*эти стили, если их прописывать для инпут, не вступают в силу... пока пропущу формы фильтров*/
  font-size: 16px;
  line-height: 19px;
}

.select-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

/*карточки товаров*/

.catalog-products {
  width: 840px;
}

.product {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  font-weight: normal;
}

/*пагинация*/
.pagination {
  background-color: #ebebeb;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-link-text {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}
