
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
 
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    background-color: #fff;
  }

  .page-header {
    background: #FFE17F;
    color: #000;
  }

  .navigation-link {
    color: inherit;
    text-decoration: none;
    background-color: #FFE17F;
    text-align: center;
  }

  .main-index {
    color: #000;
    background-color: #fff;
  }

  .slider-item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    background-color: #fff;
  }

  .slider-item-description {
    color: #444;
  }

  .button-details {
    color: inherit;
    text-decoration: none;
  }

  .categories {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000;
  }

  .slider-pagination-service-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
  }

  .slider-service-item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
  }

  .slider-service-item-description {
    color: #444;   
  }

  h3.delivery {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
  }

  .about-us-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
  }
  
  p.delivery {
    color: #444;
  }

  .delivery-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000;
    text-decoration: none;
  }

  .contacts {
    color: #444;
  }

  .contacts-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
  }

 

  .contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .contacts-address-text {
    font-style: normal;
  }

  .contacts-phone {
    font-style: normal;
    color: #444;
    text-decoration-line: underline;
  }

  h2.subscribe {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
  }

  p.subscribe {
    color: #444;
  }

  .newsletter-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
  }

  .for-free {
    color: #444;
  }

  .page-footer {
    background: #444;
  }

  .contacts-address-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer-navigation-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .contacts-phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #fff;
  }